{% load i18n %}

<p class="login_title">{% trans 'Restore password' %}</p>
<div>
	<p>{% trans 'Login/Email' %}</p>
	<input type="text" required=''value='{{args.login}}'  name="Restore_val" placeholder="login or email"><br>
</div>
{% if args.login_error %}
	<p class="login_error">LoginError: {{ args.login_error }}</p>
{% endif %}
<div class="button_triangle">
	<div class="button_back">
		<p>{% trans 'Back Login' %}</p>
		<div class="button_area">
			<button type="submit" name="Back" value='True'></button>
		</div>
	</div>
	<div class="button_next">
		<p>{% trans 'Send letter' %}</p>
		<div class="button_area">
			<button type="submit" name="Res" value='True'></button>
		</div>
	</div>
</div>
