@font-face {
  font-family: 'filter_neon-100';
  src:  url('fonts/filter_neon-100.eot?ljz5tc');
  src:  url('fonts/filter_neon-100.eot?ljz5tc#iefix') format('embedded-opentype'),
    url('fonts/filter_neon-100.ttf?ljz5tc') format('truetype'),
    url('fonts/filter_neon-100.woff?ljz5tc') format('woff'),
    url('fonts/filter_neon-100.svg?ljz5tc#filter_neon-100') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="filter_neon_100-"], [class*=" filter_neon_100-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'filter_neon-100' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filter_neon_100-com_1:before {
  content: "\e900";
}
.filter_neon_100-com_2:before {
  content: "\e901";
}
.filter_neon_100-com_3:before {
  content: "\e902";
}
.filter_neon_100-com_4:before {
  content: "\e903";
}
.filter_neon_100-com_5:before {
  content: "\e904";
}
.filter_neon_100-dan_1:before {
  content: "\e905";
}
.filter_neon_100-dan_2:before {
  content: "\e906";
}
.filter_neon_100-dan_3:before {
  content: "\e907";
}
.filter_neon_100-dep_1-4:before {
  content: "\e908";
}
.filter_neon_100-dis_1:before {
  content: "\e909";
}
.filter_neon_100-dis_2:before {
  content: "\e90a";
}
.filter_neon_100-dis_3-epi_1:before {
  content: "\e90b";
}
.filter_neon_100-dis_4:before {
  content: "\e90c";
}
.filter_neon_100-dis_5:before {
  content: "\e90d";
}
.filter_neon_100-epi_2:before {
  content: "\e90e";
}
.filter_neon_100-exc_1:before {
  content: "\e90f";
}
.filter_neon_100-exc_2:before {
  content: "\e910";
}
.filter_neon_100-exc_3:before {
  content: "\e911";
}
.filter_neon_100-exc_4:before {
  content: "\e912";
}
.filter_neon_100-hor_1:before {
  content: "\e913";
}
.filter_neon_100-hor_2:before {
  content: "\e914";
}
.filter_neon_100-hor_3:before {
  content: "\e915";
}
.filter_neon_100-hor_4:before {
  content: "\e916";
}
.filter_neon_100-hor_5:before {
  content: "\e917";
}
.filter_neon_100-lex_1:before {
  content: "\e918";
}
.filter_neon_100-lex_2:before {
  content: "\e919";
}
.filter_neon_100-lex_3:before {
  content: "\e91a";
}
.filter_neon_100-lus_1:before {
  content: "\e91b";
}
.filter_neon_100-lus_2:before {
  content: "\e91c";
}
.filter_neon_100-lus_3:before {
  content: "\e91d";
}
.filter_neon_100-lus_4:before {
  content: "\e91e";
}
.filter_neon_100-lus_5:before {
  content: "\e91f";
}
.filter_neon_100-lus_6:before {
  content: "\e920";
}
.filter_neon_100-lus_7:before {
  content: "\e921";
}
.filter_neon_100-lus_8:before {
  content: "\e922";
}
.filter_neon_100-lus_9:before {
  content: "\e923";
}
.filter_neon_100-mai_1:before {
  content: "\e924";
}
.filter_neon_100-mai_2:before {
  content: "\e925";
}
.filter_neon_100-mai_3:before {
  content: "\e926";
}
.filter_neon_100-mai_4:before {
  content: "\e927";
}
.filter_neon_100-mai_5:before {
  content: "\e928";
}
.filter_neon_100-nud_1:before {
  content: "\e929";
}
.filter_neon_100-nud_2:before {
  content: "\e92a";
}
.filter_neon_100-nud_3:before {
  content: "\e92b";
}
.filter_neon_100-nud_4:before {
  content: "\e92c";
}
.filter_neon_100-nud_5:before {
  content: "\e92d";
}
.filter_neon_100-nud_6:before {
  content: "\e92e";
}
.filter_neon_100-nud_7:before {
  content: "\e92f";
}
.filter_neon_100-nud_8:before {
  content: "\e930";
}
.filter_neon_100-nud_9:before {
  content: "\e931";
}
.filter_neon_100-nud_10-12:before {
  content: "\e932";
}
.filter_neon_100-obs_1:before {
  content: "\e933";
}
.filter_neon_100-obs_2:before {
  content: "\e934";
}
.filter_neon_100-obs_3:before {
  content: "\e935";
}
.filter_neon_100-obs_4:before {
  content: "\e936";
}
.filter_neon_100-obs_5:before {
  content: "\e937";
}
.filter_neon_100-obs_6:before {
  content: "\e938";
}
.filter_neon_100-pol_1:before {
  content: "\e939";
}
.filter_neon_100-pol_2:before {
  content: "\e93a";
}
.filter_neon_100-pol_3:before {
  content: "\e93b";
}
.filter_neon_100-pol_4:before {
  content: "\e93c";
}
.filter_neon_100-ret_1:before {
  content: "\e93d";
}
.filter_neon_100-ret_2:before {
  content: "\e93e";
}
.filter_neon_100-ret_3:before {
  content: "\e93f";
}
.filter_neon_100-vio_1:before {
  content: "\e940";
}
.filter_neon_100-vio_2:before {
  content: "\e941";
}
.filter_neon_100-vio_3:before {
  content: "\e942";
}
.filter_neon_100-vio_4:before {
  content: "\e943";
}
.filter_neon_100-vio_5:before {
  content: "\e944";
}
.filter_neon_100-vio_6:before {
  content: "\e945";
}
