@font-face {
  font-family: 'post';
  src:  url('fonts/post.eot?bqwmfx');
  src:  url('fonts/post.eot?bqwmfx#iefix') format('embedded-opentype'),
    url('fonts/post.ttf?bqwmfx') format('truetype'),
    url('fonts/post.woff?bqwmfx') format('woff'),
    url('fonts/post.svg?bqwmfx#post') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="post-"], [class*=" post-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'post' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post-asc:before {
  content: "\e900";
}
.post-asc-v2:before {
  content: "\e901";
}
.post-by_date:before {
  content: "\e902";
}
.post-categories:before {
  content: "\e903";
}
.post-comments_off:before {
  content: "\e904";
}
.post-comments_on:before {
  content: "\e905";
}
.post-critic_time_off:before {
  content: "\e906";
}
.post-critic_time_on:before {
  content: "\e907";
}
.post-desc:before {
  content: "\e908";
}
.post-desc-v2:before {
  content: "\e909";
}
.post-download:before {
  content: "\e90a";
}
.post-download-v2:before {
  content: "\e90b";
}
.post-draw_off:before {
  content: "\e90c";
}
.post-draw_on:before {
  content: "\e90d";
}
.post-edit:before {
  content: "\e90e";
}
.post-filters:before {
  content: "\e90f";
}
.post-fix:before {
  content: "\e910";
}
.post-load:before {
  content: "\e911";
}
.post-load-v2:before {
  content: "\e912";
}
.post-money_statistics:before {
  content: "\e913";
}
.post-money_sum-v1:before {
  content: "\e914";
}
.post-money_sum-v2:before {
  content: "\e915";
}
.post-neural_network_off:before {
  content: "\e916";
}
.post-neural_network_on:before {
  content: "\e917";
}
.post-new_off:before {
  content: "\e918";
}
.post-new_on:before {
  content: "\e919";
}
.post-num:before {
  content: "\e91a";
}
.post-random:before {
  content: "\e91b";
}
.post-repeat:before {
  content: "\e91c";
}
.post-safely:before {
  content: "\e91d";
}
.post-same:before {
  content: "\e91e";
}
.post-sticky_notes_off:before {
  content: "\e91f";
}
.post-sticky_notes_on:before {
  content: "\e920";
}
.post-tags:before {
  content: "\e921";
}
.post-translation:before {
  content: "\e922";
}
