{% extends 'base.html' %}
{% load i18n %}
{% load static %}



{% block title %}ERROR 404{% endblock %} 



{% block head %}
{% include "parts\head.html" %}



{% endblock %}

{% block content %}



{% include "parts\preloader.html" %}

{% include "parts\header.html" %}

{% include "parts\newsbar.html" %}



<div class='content_block'>
	{% include "parts\sidebar.html" %}

	<div class='articles'>
 


	ERROR 404 

 
	</div>
</div>


{% include "parts\footer.html" %}




{% endblock %} 
















 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

