{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Login{% endblock %} 



{% block head %}
	{% include "parts\head.html" %}










{% endblock %}

{% block content %}
{% include "parts\preloader.html" %}

<!--Block fot background animation -->
<div class="back_animation">
</div>

<!--Block login -->
<div class="login_back">

<div class="login_block">














<form class="login_form" action="" method="post">
{% if validlink %}
	{% csrf_token %}
	{% include "login\reset.html" %}
{% else %}
	<p>Token NOT valide</p>
{% endif %}
</form>








</div>


</div>


{% endblock %} 