{% extends 'base.html' %}
{% load i18n %}
{% load static %}



{% block title %}Posts Page{% endblock %} 



{% block head %}
{% include "parts\head.html" %}

<link href="{% static "css\add\quill.show.css" %}" rel="stylesheet" type="text/css" media="screen" />

<script  src="{% static "js\add\quill.js" %}" type="text/javascript"></script>

<script defer="defer" src="{% static "js\my\cookie.js" %}" type="text/javascript"></script>
<script defer="defer" src="{% static "js\my\back_blur.js" %}" type="text/javascript"></script>
<script  src="{% static "js\my\block_fields.js" %}" type="text/javascript"></script>

<script  src="{% static "js\add\date.format.js" %}" type="text/javascript"></script>


{% include "parts\load_fonts.html" %}

{% endblock %}

{% block content %}



{% include "parts\preloader.html" %}

{% include "parts\header.html" %}

{% include "parts\newsbar.html" %}



<div class='content_block'>
	{% include "parts\sidebar.html" %}

	<div class='articles'>
	<div class="container">


	i will create this later

	</div>
	</div>
</div>


{% include "parts\footer.html" %}




{% endblock %} 
















 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

