{% load static %}
<!--conect css icons-->
<link href="{% static "css\my\fonts\arhive.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\avatar.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\edit_text.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\filter_back.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\filter_neon-0.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\filter_neon-100.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\filter_neon-300.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\filter_neon-500.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\filter_neon-1000.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\format.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\info.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\player.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\post.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\progress.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\user.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\system.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css\my\fonts\lang.css" %}" rel="stylesheet" type="text/css" media="screen" />




<script  src="{% static "js\my\hover_info.js" %}" type="text/javascript"></script>
